[submodule "SweetSpot_Game"]
	path = SweetSpot_Game
	url = https://github.com/JasonSaltenis/SweetSpot_Game
[submodule "NeonNexus_Game"]
	path = NeonNexus_Game
	url = https://github.com/JasonSaltenis/NeonNexus_Game
[submodule "ChecklistApp"]
	path = ChecklistApp
	url = https://github.com/JasonSaltenis/ChecklistApp
[submodule "Minesweeper"]
	path = Minesweeper
	url = https://github.com/JasonSaltenis/Minesweeper
